*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: white;
  height: 100%;
  width: 98%;
}
.boxes{
  border: 5px solid red;
  height: 20%;
  width: 99%;
}
.box-one{
  background-color: blue;
  height: 47%;
  width: 100%;
}
.name{
  color: white;
  padding-top:10px;
  padding-left:30px;
  font-size: 50px;
  
}
.box-two{
  background-color: white;
  height:9.5vh;
  width: 99%;
  overflow: hidden;
  }
.z{
  padding-top:10px;
  padding-left:30px;
  font-size: 50px;
}  

.one{
  border: 5px solid red;
  height: 20%;
  width: 100%;
}
.picpic{
  height: 75%;
  width: 100%;
}
.one-name{
  padding: 0;
  margin: 0;
}

h2{font-size: 60px;
   padding-left: 270px;
  
}


.one-two{
  background-color: white;
  height: 4vh;
  }
.y{
  background-color: black;
  color:white;
  font-style: bold;
  display: block;
  font-size: 30px;
  padding-left: 10px;
}
.two{
  border: 5px solid red;
  height: 20%;
  width: 100%;
}
.two-name{
  padding: 0;
  margin: 0;
}
.two-two{
  background-color: white;
  height: 4vh;
  }
.x{
  padding-top:10px;
}


.legit{
  border: 5px solid red;
  height: 20%;
  width: 100%;
}
